{"openapi":"3.0.1","info":{"title":"Napcore API","description":"<a href=\"https://github.com/NordicWayInterchange\">Github</a>","license":{"name":"MIT License","url":"https://github.com/NordicWayInterchange/interchange/blob/federation-master/license.md"},"version":"1.0"},"servers":[{"url":"http://localhost","description":"Generated server url"}],"paths":{"/nap/{actorCommonName}/biconsumer":{"get":{"tags":["Biconsumer"],"summary":"Check if service provider have access to biconsumer","operationId":"getServiceProviderBiconsumerAccess","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":"{\n    \"name\": \"king_olav.bouvetinterchange.eu,\n    \"access\": true\n}\n"}}}}},"put":{"tags":["Biconsumer"],"summary":"Add/Remove access to biconsumer","operationId":"addServiceProviderBiconsumerAccess","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceProviderBiqueueAccessRequest"},"example":{"access":true}}},"required":true},"responses":{"200":{"description":"OK: Adds/removes access to service provider biconsumer","content":{"application/json":{"example":"{\n    \"name\": \"king_olav.bouvetinterchange.eu,\n    \"access\": true\n}\n"}}}}}},"/nap/{actorCommonName}/x509/csr":{"post":{"tags":["Certificates"],"summary":"Generate certificate","operationId":"addCsrRequest","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateSignRequest"}}},"required":true},"responses":{"200":{"description":"\t\nOK: returns the signed client certificate and CA certificates. The first element contains the client certificate, following any intermediate certificates and finally the root certificate. The certificates are base64 encoded PEM files (see RFC-7468: https://www.rfc-editor.org/rfc/rfc7468).","content":{"application/json":{}}}}}},"/nap/{actorCommonName}/subscriptions":{"get":{"tags":["Subscriptions"],"summary":"Get subscriptions","operationId":"getSubscriptions","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"id":"3c4c9340-0f75-4bba-93be-8f426e7ce63b","status":"CREATED","selector":"originatingCountry='NO'","endpoints":[{"host":"a.bouvetinterchange.eu","port":5671,"source":"loc-6f99295e-1982-4686-bc72-338404b48bc6","maxBandwidth":null,"maxMessageRate":null}],"lastUpdatedTimestamp":1726567853,"description":"listen to DENM messages"}]}}}}},"post":{"tags":["Subscriptions"],"summary":"Add subscription","operationId":"addSubscription","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"3c4c9340-0f75-4bba-93be-8f426e7ce63b","status":"REQUESTED","selector":"originatingCountry='NO'","endpoints":[],"lastUpdatedTimestamp":1726567848,"description":"subscribe to DATEX messages"}}}}}}},"/nap/{actorCommonName}/privatechannels":{"get":{"tags":["Private channels"],"summary":"Get private channels","operationId":"getPrivateChannels","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"id":"e598a3d7-c3fe-4585-ae56-f44826520ddd","peers":["pilotinterchange.eu.bouvet.pilotinterchange.eu.per@ulv.no","pilotinterchange.eu.bouvet.pilotinterchange.eu.bippe@stankelbein.no"],"status":"CREATED","description":"Private channel for bouvet and friends","endpoint":{"host":"bouvet.itsinterchange.eu","port":1337,"queueName":"priv-c807bc78-36ee-4cb2-b8aa-8c133644fe4a"},"lastUpdated":1729840858}]}}}}},"post":{"tags":["Private channels"],"summary":"Add private channel","operationId":"addPrivateChannel","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivateChannelRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"e598a3d7-c3fe-4585-ae56-f44826520ddd","peers":["pilotinterchange.eu.bouvet.pilotinterchange.eu.per@ulv.no","pilotinterchange.eu.bouvet.pilotinterchange.eu.bippe@stankelbein.no"],"status":"REQUESTED","description":"Private channel for bouvet and friends","endpoint":{"host":"bouvet.itsinterchange.eu","port":1337,"queueName":"priv-c807bc78-36ee-4cb2-b8aa-8c133644fe4a"},"lastUpdated":1729840858}}}}}}},"/nap/{actorCommonName}/deliveries":{"get":{"tags":["Deliveries"],"summary":"Get deliveries","operationId":"getDeliveries","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"id":"63993467-de1d-448b-8de5-425eab6ce3e4","status":"CREATED","selector":"originatingCountry='NO'","endpoints":[{"host":"a.bouvetinterchange.eu","port":5671,"target":"del-d6728909-0f6e-4a6d-9fee-3e1be3eadd63","dlqName":"dlq-f333183a-ad2f-4e46-9ff6-ae6a0c88cfa9"}],"lastUpdatedTimestamp":1726567679,"description":"Deliver messages from Norway"}]}}}}},"post":{"tags":["Deliveries"],"summary":"Add delivery","operationId":"addDelivery","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"63993467-de1d-448b-8de5-425eab6ce3e4","status":"REQUESTED","selector":"originatingCountry='NO'","endpoints":[],"lastUpdatedTimestamp":1726567454,"description":"Delivery for sending datex messages"}}}}}}},"/nap/{actorCommonName}/capabilities":{"get":{"tags":["Capabilities"],"summary":"Get capabilities","operationId":"getCapabilities","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"id":"e598a3d7-c3fe-4585-ae56-f44826520ddd","application":{"messageType":"DENM","publisherId":"NO00002","publicationId":"NO00002:o2a93v2","originatingCountry":"NO","protocolVersion":"DENM:2.3","quadTree":["1111111111111111111111","111111110"],"causeCode":[6]},"metadata":{"shardCount":1,"infoUrl":"https://king_charles.info.no","redirectPolicy":"OPTIONAL","maxBandwidth":0,"maxMessageRate":0,"repetitionInterval":0}}]}}}}},"post":{"tags":["Capabilities"],"summary":"Add capability","operationId":"addCapability","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CapabilitiesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"e598a3d7-c3fe-4585-ae56-f44826520ddd","application":{"messageType":"DENM","publisherId":"NO00002","publicationId":"NO00002:abc123d","originatingCountry":"NO","protocolVersion":"DENM:2.3","quadTree":["123"],"causeCode":[6]},"metadata":{"shardCount":1,"infoUrl":"https://king_charles.info.no","redirectPolicy":"OPTIONAL","maxBandwidth":0,"maxMessageRate":0,"repetitionInterval":0}}}}}}}},"/nap/{actorCommonName}/privatechannels/peer/{privateChannelId}":{"get":{"tags":["Private channels"],"summary":"Get peer private channel","operationId":"getPeerPrivateChannel","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"privateChannelId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"e598a3d7-c3fe-4585-ae56-f44826520ddd","owner":"king_olav.bouvetinterchange.eu","status":"CREATED","endpoint":{"host":"bouvet.itsinterchange.eu","port":1337,"queueName":"priv-86651278-add2-4286-bcdf-bcdb69dc72a1"},"lastUpdated":1729840858,"description":"private channel between king olav and king gustaf"}}}}}},"delete":{"tags":["Private channels"],"summary":"Remove yourself from private channel where you are member","operationId":"peerDeletePeerFromPrivateChannel","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"privateChannelId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}},"patch":{"tags":["Private channels"],"summary":"Add peer to existing private channel","operationId":"addPeerToPrivateChannel","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"privateChannelId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddPeerRequest"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/nap/{actorCommonName}/subscriptions/{subscriptionId}":{"get":{"tags":["Subscriptions"],"summary":"Get subscription","operationId":"getSubscription","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"3c4c9340-0f75-4bba-93be-8f426e7ce63b","status":"CREATED","selector":"originatingCountry='NO'","endpoints":[{"host":"a.bouvetinterchange.eu","port":5671,"source":"loc-6f99295e-1982-4686-bc72-338404b48bc6","maxBandwidth":null,"maxMessageRate":null}],"lastUpdatedTimestamp":1726567853,"description":"listen to DENM messages"}}}}}}},"/nap/{actorCommonName}/subscriptions/capabilities":{"get":{"tags":["Subscriptions"],"summary":"Get capabilities matching subscription","operationId":"getMatchingSubscriptionCapabilities","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"selector","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"application":{"messageType":"DENM","publisherId":"NO00002","publicationId":"NOO0002:st5421f2","originatingCountry":"NO","protocolVersion":"DENM:2.3","quadTree":["123"],"causeCode":[6]},"metadata":{"shardCount":1,"infoUrl":"https://king_charles.info.no","redirectPolicy":"OPTIONAL","maxBandwidth":0,"maxMessageRate":0,"repetitionInterval":0}}]}}}}}},"/nap/{actorCommonName}/privatechannels/{privateChannelId}":{"get":{"tags":["Private channels"],"summary":"Get private channel","operationId":"getPrivateChannel","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"privateChannelId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"e598a3d7-c3fe-4585-ae56-f44826520ddd","peers":["pilotinterchange.eu.bouvet.pilotinterchange.eu.per@ulv.no","pilotinterchange.eu.bouvet.pilotinterchange.eu.bippe@stankelbein.no"],"status":"CREATED","description":"Private channel for bouvet and friends","endpoint":{"host":"bouvet.itsinterchange.eu","port":1337,"queueName":"priv-c807bc78-36ee-4cb2-b8aa-8c133644fe4a"},"lastUpdated":1729840858}}}}}},"delete":{"tags":["Private channels"],"summary":"Delete private channel","operationId":"deletePrivateChannel","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"privateChannelId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/nap/{actorCommonName}/privatechannels/peer":{"get":{"tags":["Private channels"],"summary":"Get private channels with actorCommonName as peer","operationId":"getPeerPrivateChannels","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"id":"e598a3d7-c3fe-4585-ae56-f44826520ddd","owner":"king_olav.bouvetinterchange.eu","status":"CREATED","endpoint":{"host":"bouvet.itsinterchange.eu","port":1337,"queueName":"priv-86651278-add2-4286-bcdf-bcdb69dc72a1"},"lastUpdated":1729840858,"description":"private channel between king olav and king gustaf"}]}}}}}},"/nap/{actorCommonName}/deliveries/{deliveryId}":{"get":{"tags":["Deliveries"],"summary":"Get delivery","operationId":"getDelivery","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"deliveryId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"63993467-de1d-448b-8de5-425eab6ce3e4","status":"CREATED","selector":"originatingCountry='NO'","endpoints":[{"host":"a.bouvetinterchange.eu","port":5671,"target":"del-d6728909-0f6e-4a6d-9fee-3e1be3eadd63","dlqName":"dlq-079f0248-7979-48ae-8563-2ff30afe986c"}],"lastUpdatedTimestamp":1726567679,"description":"Deliver messages from Norway"}}}}}},"delete":{"tags":["Deliveries"],"summary":"Delete delivery","operationId":"deleteDelivery","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"deliveryId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/nap/{actorCommonName}/deliveries/capabilities":{"get":{"tags":["Deliveries"],"summary":"Get capabilities matching delivery","operationId":"getMatchingDeliveryCapabilities","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"selector","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"application":{"messageType":"DENM","publisherId":"NO00002","publicationId":"NO00002:tt2125os","originatingCountry":"NO","protocolVersion":"DENM:2.3","quadTree":["1111111111111111111111111111111111111111"],"causeCode":[6]},"metadata":{"shardCount":1,"infoUrl":"https://king_charles.info.no","redirectPolicy":"OPTIONAL","maxBandwidth":0,"maxMessageRate":0,"repetitionInterval":0}}]}}}}}},"/nap/{actorCommonName}/capabilities/{capabilityId}":{"get":{"tags":["Capabilities"],"summary":"Get capability","operationId":"getCapability","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"capabilityId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"e598a3d7-c3fe-4585-ae56-f44826520ddd","application":{"messageType":"DENM","publisherId":"NO00002","publicationId":"NO00002:abc123d","originatingCountry":"NO","protocolVersion":"DENM:2.3","quadTree":["123","100010","00001"],"causeCode":[6]},"metadata":{"shardCount":1,"infoUrl":"https://king_charles.info.no","redirectPolicy":"OPTIONAL","maxBandwidth":0,"maxMessageRate":0,"repetitionInterval":0}}}}}}},"delete":{"tags":["Capabilities"],"summary":"Delete capability","operationId":"deleteCapability","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"capabilityId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/nap/{actorCommonName}/capabilities/publicationids":{"get":{"tags":["Capabilities"],"summary":"Get publicationIds","operationId":"getPublicationIds","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":["NO00002:abc123a","NO00002:abc123b","NO00002:abc123c"]}}}}}},"/nap/biqueueendpoints":{"get":{"tags":["Bi-queue"],"summary":"Get bi-queue endpoints per message type","operationId":"getBiqueueEndPoints","responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"messageType":"DATEX2","getBiqueueEndpointResponse":{"brokerExternalName":"a.qpid.bouvetinterchange.eu","messageChannelPort":5671,"queueName":"bi-datex"}},{"messageType":"DENM","getBiqueueEndpointResponse":{"brokerExternalName":"a.qpid.bouvetinterchange.eu","messageChannelPort":5671,"queueName":"bi-denm"}},{"messageType":"IVIM","getBiqueueEndpointResponse":{"brokerExternalName":"a.qpid.bouvetinterchange.eu","messageChannelPort":5671,"queueName":"bi-ivim"}},{"messageType":"SPATEM","getBiqueueEndpointResponse":{"brokerExternalName":"a.qpid.bouvetinterchange.eu","messageChannelPort":5671,"queueName":"bi-spatem"}},{"messageType":"MAPEM","getBiqueueEndpointResponse":{"brokerExternalName":"a.qpid.bouvetinterchange.eu","messageChannelPort":5671,"queueName":"bi-mapem"}},{"messageType":"SREM","getBiqueueEndpointResponse":{"brokerExternalName":"a.qpid.bouvetinterchange.eu","messageChannelPort":5671,"queueName":"bi-ssrem"}},{"messageType":"SSEM","getBiqueueEndpointResponse":{"brokerExternalName":"a.qpid.bouvetinterchange.eu","messageChannelPort":5671,"queueName":"bi-ssem"}},{"messageType":"CAM","getBiqueueEndpointResponse":{"brokerExternalName":"a.qpid.bouvetinterchange.eu","messageChannelPort":5671,"queueName":"bi-cam"}}]}}}}}},"/nap/{actorCommonName}/subscriptions/{subscriptionIds}":{"delete":{"tags":["Subscriptions"],"summary":"Delete one or multiple subscriptions separated by comma","operationId":"deleteSubscription","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"subscriptionIds","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/nap/{actorCommonName}/privatechannels/peer/{privateChannelId}/{peerName}":{"delete":{"tags":["Private channels"],"summary":"Delete peer from existing private channel","operationId":"deletePeerFromPrivateChannel","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"privateChannelId","in":"path","required":true,"schema":{"type":"string"}},{"name":"peerName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}}},"components":{"schemas":{"ServiceProviderBiqueueAccessRequest":{"type":"object","properties":{"access":{"type":"boolean"}}},"CertificateSignRequest":{"type":"object","properties":{"csr":{"type":"string"}}},"SubscriptionRequest":{"type":"object","properties":{"selector":{"type":"string"},"description":{"type":"string"}}},"PrivateChannelRequest":{"type":"object","properties":{"peers":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"description":{"type":"string"}}},"DeliveryRequest":{"type":"object","properties":{"selector":{"type":"string"},"description":{"type":"string"},"dlqueue":{"type":"boolean"}}},"ApplicationApi":{"type":"object","properties":{"messageType":{"type":"string"},"publisherId":{"type":"string"},"publicationId":{"type":"string"},"originatingCountry":{"type":"string"},"protocolVersion":{"type":"string"},"quadTree":{"type":"array","items":{"type":"string"}}},"discriminator":{"propertyName":"messageType"}},"CamApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"}]},"CapabilitiesRequest":{"type":"object","properties":{"application":{"oneOf":[{"$ref":"#/components/schemas/ApplicationApi"},{"$ref":"#/components/schemas/CamApplicationApi"},{"$ref":"#/components/schemas/DatexApplicationApi"},{"$ref":"#/components/schemas/DenmApplicationApi"},{"$ref":"#/components/schemas/IvimApplicationApi"},{"$ref":"#/components/schemas/MapemApplicationApi"},{"$ref":"#/components/schemas/SpatemApplicationApi"},{"$ref":"#/components/schemas/SremApplicationApi"},{"$ref":"#/components/schemas/SsemApplicationApi"}]},"metadata":{"$ref":"#/components/schemas/MetadataApi"}}},"DatexApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"},{"type":"object","properties":{"publicationType":{"type":"string"},"publisherName":{"type":"string"}}}]},"DenmApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"},{"type":"object","properties":{"causeCode":{"type":"array","items":{"type":"integer","format":"int32"}}}}]},"IvimApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"}]},"MapemApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"}]},"MetadataApi":{"type":"object","properties":{"shardCount":{"type":"integer","format":"int32"},"infoUrl":{"type":"string"},"redirectPolicy":{"type":"string","enum":["OPTIONAL","MANDATORY","NOT_AVAILABLE"]},"maxBandwidth":{"type":"integer","format":"int32"},"maxMessageRate":{"type":"integer","format":"int32"},"repetitionInterval":{"type":"integer","format":"int32"}}},"SpatemApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"}]},"SremApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"}]},"SsemApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"}]},"AddPeerRequest":{"type":"object","properties":{"peerToAdd":{"type":"string"}}}}}}