{"openapi":"3.0.1","info":{"title":"Napcore API","description":"<a href=\"https://github.com/NordicWayInterchange\">Github</a>","license":{"name":"MIT License","url":"https://github.com/NordicWayInterchange/interchange/blob/federation-master/license.md"},"version":"1.0"},"servers":[{"url":"http://localhost","description":"Generated server url"}],"paths":{"/nap/{actorCommonName}/x509/csr":{"post":{"tags":["Certificates"],"summary":"Generate certificate","operationId":"addCsrRequest","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateSignRequest"}}},"required":true},"responses":{"200":{"description":"\t\nOK: returns the signed client certificate and CA certificates. The first element contains the client certificate, following any intermediate certificates and finally the root certificate. The certificates are base64 encoded PEM files (see RFC-7468: https://www.rfc-editor.org/rfc/rfc7468).","content":{"application/json":{}}}}}},"/nap/{actorCommonName}/subscriptions":{"get":{"tags":["Subscriptions"],"summary":"Get subscriptions","operationId":"getSubscriptions","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"id":"3c4c9340-0f75-4bba-93be-8f426e7ce63b","status":"CREATED","selector":"originatingCountry='NO'","endpoints":[{"host":"a.bouvetinterchange.eu","port":5671,"source":"loc-6f99295e-1982-4686-bc72-338404b48bc6","maxBandwidth":null,"maxMessageRate":null}],"lastUpdatedTimestamp":1726567853,"comment":"listen to DENM messages"}]}}}}},"post":{"tags":["Subscriptions"],"summary":"Add subscription","operationId":"addSubscription","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"3c4c9340-0f75-4bba-93be-8f426e7ce63b","status":"REQUESTED","selector":"originatingCountry='NO'","endpoints":[],"lastUpdatedTimestamp":1726567848,"comment":"subscribe to DATEX messages"}}}}}}},"/nap/{actorCommonName}/subscriptions/comment":{"post":{"tags":["Subscriptions"],"summary":"Add comment on subscription","operationId":"addSubscriptionComment","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddCommentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"3c4c9340-0f75-4bba-93be-8f426e7ce63b","status":"REQUESTED","selector":"originatingCountry='NO'","endpoints":[],"lastUpdatedTimestamp":1726567848,"comment":"subscribe to DATEX messages"}}}}}}},"/nap/{actorCommonName}/deliveries":{"get":{"tags":["Deliveries"],"summary":"Get deliveries","operationId":"getDeliveries","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"id":"63993467-de1d-448b-8de5-425eab6ce3e4","status":"CREATED","selector":"originatingCountry='NO'","endpoints":[{"host":"a.bouvetinterchange.eu","port":5671,"target":"del-d6728909-0f6e-4a6d-9fee-3e1be3eadd63"}],"lastUpdatedTimestamp":1726567679,"comment":"Deliver messages from Norway"}]}}}}},"post":{"tags":["Deliveries"],"summary":"Add delivery","operationId":"addDelivery","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"63993467-de1d-448b-8de5-425eab6ce3e4","status":"REQUESTED","selector":"originatingCountry='NO'","endpoints":[],"lastUpdatedTimestamp":1726567454,"comment":"Delivery for sending datex messages"}}}}}}},"/nap/{actorCommonName}/deliveries/comment":{"post":{"tags":["Deliveries"],"summary":"Add comment on delivery","operationId":"addDeliveryComment","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddCommentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"63993467-de1d-448b-8de5-425eab6ce3e4","status":"REQUESTED","selector":"originatingCountry='NO'","endpoints":[],"lastUpdatedTimestamp":1726567454,"comment":"Delivery for sending datex messages"}}}}}}},"/nap/{actorCommonName}/capabilities":{"get":{"tags":["Capabilities"],"summary":"Get capabilities","operationId":"getCapabilities","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"id":"e598a3d7-c3fe-4585-ae56-f44826520ddd","application":{"messageType":"DENM","publisherId":"NO00002","publicationId":"NTO002-pub-1222","originatingCountry":"NO","protocolVersion":"DENM:2.3","quadTree":["1111111111111111111111111111111111111111"],"causeCode":[6]},"metadata":{"shardCount":1,"infoUrl":"https://king_charles.info.no","redirectPolicy":"OPTIONAL","maxBandwidth":0,"maxMessageRate":0,"repetitionInterval":0}}]}}}}},"post":{"tags":["Capabilities"],"summary":"Add capability","operationId":"addCapability","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CapabilitiesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"e598a3d7-c3fe-4585-ae56-f44826520ddd","application":{"messageType":"DENM","publisherId":"NO00002","publicationId":"NTO002-pub-1222","originatingCountry":"NO","protocolVersion":"DENM:2.3","quadTree":["123"],"causeCode":[6]},"metadata":{"shardCount":1,"infoUrl":"https://king_charles.info.no","redirectPolicy":"OPTIONAL","maxBandwidth":0,"maxMessageRate":0,"repetitionInterval":0}}}}}}}},"/nap/{actorCommonName}/subscriptions/{subscriptionId}":{"get":{"tags":["Subscriptions"],"summary":"Get subscription","operationId":"getSubscription","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"3c4c9340-0f75-4bba-93be-8f426e7ce63b","status":"CREATED","selector":"originatingCountry='NO'","endpoints":[{"host":"a.bouvetinterchange.eu","port":5671,"source":"loc-6f99295e-1982-4686-bc72-338404b48bc6","maxBandwidth":null,"maxMessageRate":null}],"lastUpdatedTimestamp":1726567853,"comment":"listen to DENM messages"}}}}}},"delete":{"tags":["Subscriptions"],"summary":"Delete subscription","operationId":"deleteSubscription","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/nap/{actorCommonName}/subscriptions/capabilities":{"get":{"tags":["Subscriptions"],"summary":"Get capabilities matching subscription","operationId":"getMatchingSubscriptionCapabilities","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"selector","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"application":{"messageType":"DENM","publisherId":"NO00002","publicationId":"NTO002-pub-1222","originatingCountry":"NO","protocolVersion":"DENM:2.3","quadTree":["123"],"causeCode":[6]},"metadata":{"shardCount":1,"infoUrl":"https://king_charles.info.no","redirectPolicy":"OPTIONAL","maxBandwidth":0,"maxMessageRate":0,"repetitionInterval":0}}]}}}}}},"/nap/{actorCommonName}/subscriptions/":{"get":{"tags":["Subscriptions"],"summary":"Get subscriptions","operationId":"getSubscriptions_1","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"id":"3c4c9340-0f75-4bba-93be-8f426e7ce63b","status":"CREATED","selector":"originatingCountry='NO'","endpoints":[{"host":"a.bouvetinterchange.eu","port":5671,"source":"loc-6f99295e-1982-4686-bc72-338404b48bc6","maxBandwidth":null,"maxMessageRate":null}],"lastUpdatedTimestamp":1726567853,"comment":"listen to DENM messages"}]}}}}}},"/nap/{actorCommonName}/deliveries/{deliveryId}":{"get":{"tags":["Deliveries"],"summary":"Get delivery","operationId":"getDelivery","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"deliveryId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"63993467-de1d-448b-8de5-425eab6ce3e4","status":"CREATED","selector":"originatingCountry='NO'","endpoints":[{"host":"a.bouvetinterchange.eu","port":5671,"target":"del-d6728909-0f6e-4a6d-9fee-3e1be3eadd63"}],"lastUpdatedTimestamp":1726567679,"comment":"Deliver messages from Norway"}}}}}},"delete":{"tags":["Deliveries"],"summary":"Delete delivery","operationId":"deleteDelivery","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"deliveryId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/nap/{actorCommonName}/deliveries/capabilities":{"get":{"tags":["Deliveries"],"summary":"Get capabilities matching delivery","operationId":"getMatchingDeliveryCapabilities","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"selector","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"application":{"messageType":"DENM","publisherId":"NO00002","publicationId":"NTO002-pub-1222","originatingCountry":"NO","protocolVersion":"DENM:2.3","quadTree":["1111111111111111111111111111111111111111"],"causeCode":[6]},"metadata":{"shardCount":1,"infoUrl":"https://king_charles.info.no","redirectPolicy":"OPTIONAL","maxBandwidth":0,"maxMessageRate":0,"repetitionInterval":0}}]}}}}}},"/nap/{actorCommonName}/capabilities/{capabilityId}":{"get":{"tags":["Capabilities"],"summary":"Get capability","operationId":"getCapability","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"capabilityId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"id":"e598a3d7-c3fe-4585-ae56-f44826520ddd","application":{"messageType":"DENM","publisherId":"NO00002","publicationId":"NTO002-pub-1222","originatingCountry":"NO","protocolVersion":"DENM:2.3","quadTree":["1111111111111111111111111111111111111111"],"causeCode":[6]},"metadata":{"shardCount":1,"infoUrl":"https://king_charles.info.no","redirectPolicy":"OPTIONAL","maxBandwidth":0,"maxMessageRate":0,"repetitionInterval":0}}}}}}},"delete":{"tags":["Capabilities"],"summary":"Delete capability","operationId":"deleteCapability","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"capabilityId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/nap/{actorCommonName}/capabilities/publicationids":{"get":{"tags":["Capabilities"],"summary":"Get publicationIds","operationId":"getPublicationIds","parameters":[{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":["NT0002-pub-1222","Publication-1","Publication-2"]}}}}}}},"components":{"schemas":{"CertificateSignRequest":{"type":"object","properties":{"csr":{"type":"string"}}},"SubscriptionRequest":{"type":"object","properties":{"selector":{"type":"string"},"comment":{"type":"string"}}},"AddCommentRequest":{"type":"object","properties":{"id":{"type":"string"},"comment":{"type":"string"}}},"DeliveryRequest":{"type":"object","properties":{"selector":{"type":"string"},"comment":{"type":"string"}}},"ApplicationApi":{"type":"object","properties":{"messageType":{"type":"string"},"publisherId":{"type":"string"},"publicationId":{"type":"string"},"originatingCountry":{"type":"string"},"protocolVersion":{"type":"string"},"quadTree":{"type":"array","items":{"type":"string"}}},"discriminator":{"propertyName":"messageType"}},"CamApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"}]},"CapabilitiesRequest":{"type":"object","properties":{"application":{"oneOf":[{"$ref":"#/components/schemas/ApplicationApi"},{"$ref":"#/components/schemas/CamApplicationApi"},{"$ref":"#/components/schemas/DatexApplicationApi"},{"$ref":"#/components/schemas/DenmApplicationApi"},{"$ref":"#/components/schemas/IvimApplicationApi"},{"$ref":"#/components/schemas/MapemApplicationApi"},{"$ref":"#/components/schemas/SpatemApplicationApi"},{"$ref":"#/components/schemas/SremApplicationApi"},{"$ref":"#/components/schemas/SsemApplicationApi"}]},"metadata":{"$ref":"#/components/schemas/MetadataApi"}}},"DatexApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"},{"type":"object","properties":{"publicationType":{"type":"string"},"publisherName":{"type":"string"}}}]},"DenmApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"},{"type":"object","properties":{"causeCode":{"type":"array","items":{"type":"integer","format":"int32"}}}}]},"IvimApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"}]},"MapemApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"}]},"MetadataApi":{"type":"object","properties":{"shardCount":{"type":"integer","format":"int32"},"infoUrl":{"type":"string"},"redirectPolicy":{"type":"string","enum":["OPTIONAL","MANDATORY","NOT_AVAILABLE"]},"maxBandwidth":{"type":"integer","format":"int32"},"maxMessageRate":{"type":"integer","format":"int32"},"repetitionInterval":{"type":"integer","format":"int32"}}},"SpatemApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"}]},"SremApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"}]},"SsemApplicationApi":{"type":"object","allOf":[{"$ref":"#/components/schemas/ApplicationApi"}]}}}}