{"openapi":"3.0.1","info":{"title":"Admin API","description":"<a href=\"https://github.com/NordicWayInterchange\">Github</a>","license":{"name":"MIT License","url":"https://github.com/NordicWayInterchange/interchange/blob/federation-master/license.md"},"version":"1.0"},"servers":[{"url":"http://localhost","description":"Generated server url"}],"paths":{"/admin/{adminUser}/serviceproviders":{"get":{"tags":["Service providers"],"summary":"Get service providers","operationId":"getServiceProviders","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"id":1,"name":"king_olav.bouvetinterchange.eu","biconsumer":true,"subscriptions":[{"id":"1","status":"CREATED","selector":"originatingCountry = 'NO'","endpoints":[{"id":1,"source":"loc-7e132a59-16db-4cf5-a7ca-eb6e3dc50d06","host":"a.qpid.bouvetinterchange.eu","port":5671,"maxBandwidth":null,"maxMessageRate":null}],"lastUpdated":1745501167148,"consumerCommonName":"a.bouvetinterchange.eu","connections":[],"description":null,"errorMessage":null}],"capabilities":[{"id":1,"createdTimestamp":1745321315458,"application":{"messageType":"DENM","publisherId":"NO00002","publicationId":"NO00002:test","originatingCountry":"NO","protocolVersion":"DENM:1.2.2","quadTree":["1203"],"causeCode":[5]},"metadata":{"shardCount":1,"infoUrl":"https://victoria@blomst.stminterchange.com.info.no","redirectPolicy":"OPTIONAL","maxBandwidth":0,"maxMessageRate":0,"repetitionInterval":0},"status":"CREATED","shards":[{"shardId":2,"exchangeName":"cap-c917c046-a98e-44c6-bc5d-7ca473509fac-1","selector":"(quadTree like '%,1203%') AND (originatingCountry = 'AA') AND (causeCode = 5) AND (publicationId = 'NO00002:test') AND (messageType = 'DENM') AND (publisherId = 'NO00002') AND (protocolVersion = 'DENM:1.2.2')"}]}],"deliveries":[{"id":"1","status":"CREATED","selector":"originatingCountry = 'NO'","endpoints":[{"host":"a.qpid.bouvetinterchange.eu","port":5671,"target":"del-efe7b96f-dd7d-4f68-bf0f-4585689403f6","dlqName":"dlq-f333183a-ad2f-4e46-9ff6-ae6a0c88cfa9","maxBandwidth":null,"maxMessageRate":null}],"lastUpdatedTimestamp":1745321332926,"description":null}]}]}}}}}},"/admin/{adminUser}/serviceproviders/{actorCommonName}/privatechannels":{"get":{"tags":["Private channels"],"summary":"Get private channels for the specified service provider","operationId":"getPrivateChannels","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}},{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"id":"e598a3d7-c3fe-4585-ae56-f44826520ddd","peers":["pilotinterchange.eu.bouvet.pilotinterchange.eu.per@ulv.no","pilotinterchange.eu.bouvet.pilotinterchange.eu.bippe@stankelbein.no"],"status":"CREATED","description":"Private channel for bouvet and friends","endpoint":{"host":"bouvet.itsinterchange.eu","port":1337,"queueName":"priv-c807bc78-36ee-4cb2-b8aa-8c133644fe4a"},"lastUpdated":1729840858}]}}}}}},"/admin/{adminUser}/serviceproviders/{actorCommonName}/privatechannels/peer":{"get":{"tags":["Private channels"],"summary":"Get private channels with actorCommonName as peer","operationId":"getPeerPrivateChannels","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}},{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"id":"e598a3d7-c3fe-4585-ae56-f44826520ddd","owner":"king_olav.bouvetinterchange.eu","status":"CREATED","endpoint":{"host":"bouvet.itsinterchange.eu","port":1337,"queueName":"priv-86651278-add2-4286-bcdf-bcdb69dc72a1"},"lastUpdated":1729840858,"description":"private channel between king olav and king gustaf"}]}}}}}},"/admin/{adminUser}/serviceproviders/{actorCommonName}/deliveries":{"get":{"tags":["Deliveries"],"summary":"Get delivery ids for the specified service provider","operationId":"getDeliveryIdsForEachServiceProvider","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}},{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":["63993467-de1d-448b-8de5-425eab6ce3e4"]}}}}}},"/admin/{adminUser}/serviceproviders/{actorCommonName}/deliveries/{deliveryId}":{"get":{"tags":["Deliveries"],"summary":"Get delivery based on provided delivery id for the specified service provider","operationId":"getDeliveryBasedOnDeliveryId","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}},{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"deliveryId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"id":"63993467-de1d-448b-8de5-425eab6ce3e4","status":"CREATED","selector":"originatingCountry='NO'","endpoints":[{"host":"bouvet.itsinterchange.eu","port":5671,"target":"del-d6728909-0f6e-4a6d-9fee-3e1be3eadd63","dlqName":"dlq-f333183a-ad2f-4e46-9ff6-ae6a0c88cfa9"}],"lastUpdatedTimestamp":1726567679,"description":"Deliver messages from Norway"}]}}}}}},"/admin/{adminUser}/serviceproviders/{actorCommonName}/deliveries/{deliveryId}/matches":{"get":{"tags":["Deliveries"],"summary":"Get capabilities match a delivery for the specified service provider and delivery id","operationId":"getDeliveriesExchangeBindingToMatchingCapabilities","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}},{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"deliveryId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"deliveryId":"5090213f-9c2f-40a0-972c-4a730a5c0317","capabilityMatchApi":[{"capabilityId":"e49df956-bfb9-4849-bc07-903f30e9c4ec","shardId":2,"binding":{"bindingKey":"del-1b39c7b9-f27d-4149-9422-54360333be33","destination":"cap-53bf21ce-0034-46c8-a0e5-60ad5716b6ba","arguments":{"x-filter-jms-selector":"((quadTree like '%,1203%') AND (causeCode = 5) AND (messageType = 'DENM') AND (publicationId = 'NO00002:testqaw') AND (publisherId = 'NO00002') AND (protocolVersion = 'DENM:1.2.2') AND (originatingCountry = 'NO')) AND (originatingCountry = 'NO')"}},"exists":true}]}}}}}}},"/admin/{adminUser}/serviceproviders/{actorCommonName}/deliveries/{deliveryId}/matches/{capabilityId}":{"get":{"tags":["Deliveries"],"summary":"Get capability matches a delivery for the specified service provider, delivery id and capability id","operationId":"getCapabilitiesMatchedDeliveryBasedOnCapabilityId","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}},{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"deliveryId","in":"path","required":true,"schema":{"type":"string"}},{"name":"capabilityId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"application":{"messageType":"DENM","publisherId":"NO00002","publicationId":"NO00002:test","originatingCountry":"NO","protocolVersion":"DENM:1.2.2","quadTree":["1203"],"causeCode":[5]},"metadata":{"shardCount":1,"infoUrl":"","redirectPolicy":"OPTIONAL","maxBandwidth":0,"maxMessageRate":0,"repetitionInterval":0},"shardId":[2]}}}}}}},"/admin/{adminUser}/serviceproviders/{actorCommonName}/deliveries/{deliveryId}/matches/{capabilityId}/{shardId}":{"get":{"tags":["Deliveries"],"summary":"Get capability shard matches a delivery for the specified service provider, shard id, delivery id and capability id","operationId":"getCapabilitiesMatchedDeliveryBasedOnShardId","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}},{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"deliveryId","in":"path","required":true,"schema":{"type":"string"}},{"name":"capabilityId","in":"path","required":true,"schema":{"type":"string"}},{"name":"shardId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"capabilityShardApi":{"shardId":2,"exchangeName":"cap-53bf21ce-0034-46c8-a0e5-60ad5716b6ba","selector":"(quadTree like '%,1203%') AND (causeCode = 5) AND (messageType = 'DENM') AND (publicationId = 'NO00002:test') AND (publisherId = 'NO00002') AND (protocolVersion = 'DENM:1.2.2') AND (originatingCountry = 'NO')"},"exchangeNameExists":true}}}}}}},"/admin/{adminUser}/serviceproviders/{actorCommonName}/deliveries/{deliveryId}/endpoints":{"get":{"tags":["Deliveries"],"summary":"Get delivery's endpoints based on provided delivery id for the specified service provider","operationId":"getLocalDeliveryEndpoints","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}},{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"deliveryId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"localDeliveryEndpointApi":{"host":"a.qpid.bouvetinterchange.eu","port":5671,"target":"del-1b39c7b9-f27d-4149-9422-54360333be33","dlqName":"dlq-f333183a-ad2f-4e46-9ff6-ae6a0c88cfa9"},"exists":true}]}}}}}},"/admin/{adminUser}/serviceproviders/{actorCommonName}/deliveries/capabilities":{"get":{"tags":["Service providers"],"summary":"Get capabilities matching delivery","operationId":"getMatchingDeliveryCapabilities","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}},{"name":"actorCommonName","in":"path","required":true,"schema":{"type":"string"}},{"name":"selector","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"application":{"messageType":"DENM","publisherId":"NO00002","publicationId":"NO00002:tt2125os","originatingCountry":"NO","protocolVersion":"DENM:2.3","quadTree":["1111111111111111111111111111111111111111"],"causeCode":[6]},"metadata":{"shardCount":1,"infoUrl":"https://king_charles.info.no","redirectPolicy":"OPTIONAL","maxBandwidth":0,"maxMessageRate":0,"repetitionInterval":0}}]}}}}}},"/admin/{adminUser}/serviceproviders/subscriptions/capabilities":{"get":{"tags":["Service providers"],"summary":"Get capabilities matching subscription","operationId":"getMatchingSubscriptionCapabilities","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}},{"name":"selector","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"application":{"messageType":"DENM","publisherId":"NO00002","publicationId":"NOO0002:st5421f2","originatingCountry":"NO","protocolVersion":"DENM:2.3","quadTree":["123"],"causeCode":[6]},"metadata":{"shardCount":1,"infoUrl":"https://king_charles.info.no","redirectPolicy":"OPTIONAL","maxBandwidth":0,"maxMessageRate":0,"repetitionInterval":0}}]}}}}}},"/admin/{adminUser}/queues":{"get":{"tags":["Queues"],"summary":"Get queues from qpid","operationId":"getQueues","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"id":"575fa3d2-69f7-4126-9a1e-264a8ebab2b4","name":"bi-queue","durable":true,"maximumMessageTtl":900000,"ensureNondestructiveConsumers":true}]}}}}}},"/admin/{adminUser}/queues/{queueName}":{"get":{"tags":["Queues"],"summary":"Does queue exist","operationId":"queueExists","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}},{"name":"queueName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":true}}}}}},"/admin/{adminUser}/neighbours":{"get":{"tags":["Neighbours"],"summary":"Get neighbours","operationId":"getNeighbours","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"neighbour_id":1,"name":"b.bouvetinterchange.eu","capabilities":{"id":1,"status":"KNOWN","capabilities":[],"lastUpdated":1745824476218,"lastCapabilityExchange":1745824476217},"neighbourRequestedSubscriptions":{"id":1,"subscriptions":[],"successfulRequest":null},"ourRequestedSubscriptions":{"subreq_id":1,"subscriptions":[],"successfulRequest":null},"connectionStatus":"CONNECTED","lastFailedConnectionAttempt":null,"controlConnection":{"id":1,"backoffStart":null,"backoffAttempts":0,"connectionStatus":"CONNECTED","unreachableTime":null,"lastFailedConnectionAttempt":null},"lastUpdated":1745321032973,"ignore":false}]}}}}}},"/admin/{adminUser}/exchanges":{"get":{"tags":["Exchanges"],"summary":"Get queues from qpid","operationId":"getExchanges","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":[{"id":"8cc9fc08-0517-4d94-8416-0abbc1d1cf25","name":"cap-2ba65f1c-6999-428a-869b-89aea7c1bd6a","durable":true,"type":"headers","bindings":[{"bindingKey":"cap-2ba65f1c-6999-428a-869b-89aea7c1bd6a","destination":"bi-queue","arguments":{"x-filter-jms-selector":"(quadTree like '%,1203%') AND (causeCode = 5) AND (publicationId = 'NO00002:test') AND (messageType = 'DENM') AND (publisherId = 'NO00002') AND (protocolVersion = 'DENM:1.2.2') AND (originatingCountry = 'SE')"}}],"alternateBinding":{"destination":"dlq-f333183a-ad2f-4e46-9ff6-ae6a0c88cfa9"}}]}}}}}},"/admin/{adminUser}/exchanges/{exchangeName}":{"get":{"tags":["Exchanges"],"summary":"Does exchange exist","operationId":"exchangeExists","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}},{"name":"exchangeName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":true}}}}}},"/admin/{adminUser}/biqueueendpoint":{"get":{"tags":["Bi-queue"],"summary":"Get bi-queue endpoint","operationId":"getBiqueueEndPoint","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":{"brokerExternalName":"myBroker","messageChannelPort":5671,"queueName":"bi-queue"}}}}}}},"/admin/{adminUser}/bindings/{exchangeName}/{queueName}":{"get":{"tags":["Binding"],"summary":"Does binding exist","operationId":"bindingExists","parameters":[{"name":"adminUser","in":"path","required":true,"schema":{"type":"string"}},{"name":"exchangeName","in":"path","required":true,"schema":{"type":"string"}},{"name":"queueName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"example":true}}}}}}},"components":{}}